.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100vw;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 40px;
  background-color: orange;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
}
.brand {
  font-size: 2rem;
  font-weight: 300;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
}
.menu {
  margin-left: auto;
  display: flex;
}
.menu_item {
  height: 45px;
  width: 120px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item:hover {
  background-color: rgb(198, 147, 51);
}
.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
